In [1]:
import pandas, sys
import pandas as pd


df = pd.read_csv("catdog_adopted_2020.csv")

/Users/cc/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
df.head()

,Unnamed: 0,id,organization_id,type,age,gender,size,coat,organization_animal_id,status,...,colors_primary,colors_secondary,attributes_spayed_neutered,attributes_house_trained,attributes_declawed,attributes_special_needs,attributes_shots_current,environment_children,environment_dogs,environment_cats
0,0,50167537,MD307,Cat,Baby,Female,Medium,Short,missing,adopted,...,Dilute Tortoiseshell,missing,True,True,False,False,True,True,True,True
1,1,50167559,NV129,Cat,Baby,Female,Medium,Short,dec20,adopted,...,Buff / Tan / Fawn,missing,True,True,False,False,True,missing,True,True
2,2,50167410,CT40,Cat,Baby,Female,Medium,Short,missing,adopted,...,Black,missing,True,True,False,False,True,missing,missing,True
3,3,50167494,NY1063,Cat,Young,Female,Medium,Short,missing,adopted,...,Gray & White,missing,False,True,False,False,False,missing,missing,missing
4,4,50147331,WI394,Cat,Adult,Male,Large,Short,missing,adopted,...,White,missing,True,True,False,False,True,missing,missing,True

In [5]:
df1=df.groupby('state').count()

In [6]:
df1

,Unnamed: 0,id,organization_id,type,age,gender,size,coat,organization_animal_id,status,...,colors_primary,colors_secondary,attributes_spayed_neutered,attributes_house_trained,attributes_declawed,attributes_special_needs,attributes_shots_current,environment_children,environment_dogs,environment_cats
state,,,,,,,,,,,,,,,,,,,,,
AB,32,32,32,32,32,32,32,32,32,32,...,32,32,32,32,18,32,32,32,32,32
AK,57,57,57,57,57,57,57,57,57,57,...,57,57,57,57,30,57,57,57,57,57
AL,587,587,587,587,587,587,587,587,587,587,...,587,587,587,587,290,587,587,587,587,587
AR,269,269,269,269,269,269,269,269,269,269,...,269,269,269,269,152,269,269,269,269,269
AZ,726,726,726,726,726,726,726,726,726,726,...,726,726,726,726,392,726,726,726,726,726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VT,76,76,76,76,76,76,76,76,76,76,...,76,76,76,76,36,76,76,76,76,76
WA,832,832,832,832,832,832,832,832,832,832,...,832,832,832,832,511,832,832,832,832,832
WI,1178,1178,1178,1178,1178,1178,1178,1178,1178,1178,...,1178,1178,1178,1178,691,1178,1178,1178,1178,1178
WV,271,271,271,271,271,271,271,271,271,271,...,271,271,271,271,209,271,271,271,271,271
WY,98,98,98,98,98,98,98,98,98,98,...,98,98,98,98,48,98,98,98,98,98

In [7]:
df2=df1['id']

In [8]:
df2

state
AB      32
AK      57
AL     587
AR     269
AZ     726
      ...
VT      76
WA     832
WI    1178
WV     271
WY      98
Name: id, Length: 61, dtype: int64

In [9]:
df2.to_csv('adopted_count_state.csv')

In [12]:
df1=pd.read_csv('adopted_count_state.csv')
df2=pd.read_csv('population_by_state.csv')

In [13]:
df3=pd.read_csv('StateFullName.csv')

In [15]:
df4=pd.merge(df3, df2, on='description')

In [17]:
df5=pd.merge(df4,df1,on='code')

In [19]:
df5

   code     description  Population        lat        long  count
0    AK          Alaska      731545  58.301598 -134.420212     57
1    AL         Alabama     4903185  32.377716  -86.300568    587
2    AR        Arkansas     3017804  34.746613  -92.288986    269
3    AZ         Arizona     7278717  33.448143 -112.096962    726
4    CA      California    39512223  38.576668 -121.493629   2746
5    CO        Colorado     5758736  39.739227 -104.984856    614
6    CT     Connecticut     3565287  41.764046  -72.682198    681
7    DE        Delaware      973764  39.157307  -75.519722     68
8    FL         Florida    21477737  30.438118  -84.281296   1743
9    GA         Georgia    10617423  33.749027  -84.388229   1070
10   HI          Hawaii     1415872  21.307442 -157.857376     24
11   IA            Iowa     3155070  41.591087  -93.603729    403
12   ID           Idaho     1787065  43.617775 -116.199722    192
13   IL        Illinois    12671821  39.798363  -89.654961   1662
14   IN         Indiana     6732219  39.768623  -86.162643    792
15   KS          Kansas     2913314  39.048191  -95.677956    284
16   KY        Kentucky     4467673  38.186722  -84.875374    471
17   LA       Louisiana     4648794  30.457069  -91.187393    583
18   MA   Massachusetts     6892503  42.358162  -71.063698    480
19   MD        Maryland     6045680  38.978764  -76.490936    726
20   ME           Maine     1344212  44.307167  -69.781693    137
21   MI        Michigan     9986857  42.733635  -84.555328   1455
22   MN       Minnesota     5639632  44.955097  -93.102211    661
23   MO        Missouri     6137428  38.579201  -92.172935    686
24   MS     Mississippi     2976149  32.303848  -90.182106    147
25   MT         Montana     1068778  46.585709 -112.018417    197
26   NC  North Carolina    10488084  35.780430  -78.639099   1181
27   ND    North Dakota      762062  46.820850 -100.783318     88
28   NE        Nebraska     1934408  40.808075  -96.699654    177
29   NH   New Hampshire     1359711  43.206898  -71.537994    211
30   NJ      New Jersey     8882190  40.220596  -74.769913   1614
31   NM      New Mexico     2096829  35.682240 -105.939728    170
32   NV          Nevada     3080156  39.163914 -119.766121    281
33   NY        New York    19453561  42.652843  -73.757874   2016
34   OH            Ohio    11689100  39.961346  -82.999069   1822
35   OK        Oklahoma     3956971  35.492207  -97.503342    390
36   OR          Oregon     4217737  44.938461 -123.030403    448
37   PA    Pennsylvania    12801989  40.264378  -76.883598   1801
38   RI    Rhode Island     1059361  41.830914  -71.414963    164
39   SC  South Carolina     5148714  34.000343  -81.033211    809
40   SD    South Dakota      884659  44.367031 -100.346405     73
41   TN       Tennessee     6829174  36.165810  -86.784241    877
42   TX           Texas    28995881  30.274670  -97.740349   2368
43   UT            Utah     3205958  40.777477 -111.888237    128
44   VA        Virginia     8535519  37.538857  -77.433640   1024
45   VT         Vermont      623989  44.262436  -72.580536     76
46   WA      Washington     7614893  47.035805 -122.905014    832
47   WI       Wisconsin     5822434  43.074684  -89.384445   1178
48   WV   West Virginia     1792147  38.336246  -81.612328    271
49   WY         Wyoming      578759  41.140259 -104.820236     98

In [21]:
df5['adoption_rate']=df5['count']/df5['Population']

In [22]:
df5

,code,description,Population,lat,long,count,adoption_rate
0,AK,Alaska,731545,58.301598,-134.420212,57,0.000078
1,AL,Alabama,4903185,32.377716,-86.300568,587,0.000120
2,AR,Arkansas,3017804,34.746613,-92.288986,269,0.000089
3,AZ,Arizona,7278717,33.448143,-112.096962,726,0.000100
4,CA,California,39512223,38.576668,-121.493629,2746,0.000069
5,CO,Colorado,5758736,39.739227,-104.984856,614,0.000107
6,CT,Connecticut,3565287,41.764046,-72.682198,681,0.000191
7,DE,Delaware,973764,39.157307,-75.519722,68,0.000070
8,FL,Florida,21477737,30.438118,-84.281296,1743,0.000081
9,GA,Georgia,10617423,33.749027,-84.388229,1070,0.000101
10,HI,Hawaii,1415872,21.307442,-157.857376,24,0.000017
11,IA,Iowa,3155070,41.591087,-93.603729,403,0.000128
12,ID,Idaho,1787065,43.617775,-116.199722,192,0.000107
13,IL,Illinois,12671821,39.798363,-89.654961,1662,0.000131
14,IN,Indiana,6732219,39.768623,-86.162643,792,0.000118
15,KS,Kansas,2913314,39.048191,-95.677956,284,0.000097
16,KY,Kentucky,4467673,38.186722,-84.875374,471,0.000105
17,LA,Louisiana,4648794,30.457069,-91.187393,583,0.000125
18,MA,Massachusetts,6892503,42.358162,-71.063698,480,0.000070
19,MD,Maryland,6045680,38.978764,-76.490936,726,0.000120
20,ME,Maine,1344212,44.307167,-69.781693,137,0.000102
21,MI,Michigan,9986857,42.733635,-84.555328,1455,0.000146
22,MN,Minnesota,5639632,44.955097,-93.102211,661,0.000117
23,MO,Missouri,6137428,38.579201,-92.172935,686,0.000112
24,MS,Mississippi,2976149,32.303848,-90.182106,147,0.000049
25,MT,Montana,1068778,46.585709,-112.018417,197,0.000184
26,NC,North Carolina,10488084,35.780430,-78.639099,1181,0.000113
27,ND,North Dakota,762062,46.820850,-100.783318,88,0.000115
28,NE,Nebraska,1934408,40.808075,-96.699654,177,0.000092
29,NH,New Hampshire,1359711,43.206898,-71.537994,211,0.000155
30,NJ,New Jersey,8882190,40.220596,-74.769913,1614,0.000182
31,NM,New Mexico,2096829,35.682240,-105.939728,170,0.000081
32,NV,Nevada,3080156,39.163914,-119.766121,281,0.000091
33,NY,New York,19453561,42.652843,-73.757874,2016,0.000104
34,OH,Ohio,11689100,39.961346,-82.999069,1822,0.000156
35,OK,Oklahoma,3956971,35.492207,-97.503342,390,0.000099
36,OR,Oregon,4217737,44.938461,-123.030403,448,0.000106
37,PA,Pennsylvania,12801989,40.264378,-76.883598,1801,0.000141
38,RI,Rhode Island,1059361,41.830914,-71.414963,164,0.000155
39,SC,South Carolina,5148714,34.000343,-81.033211,809,0.000157
40,SD,South Dakota,884659,44.367031,-100.346405,73,0.000083
41,TN,Tennessee,6829174,36.165810,-86.784241,877,0.000128
42,TX,Texas,28995881,30.274670,-97.740349,2368,0.000082
43,UT,Utah,3205958,40.777477,-111.888237,128,0.000040
44,VA,Virginia,8535519,37.538857,-77.433640,1024,0.000120
45,VT,Vermont,623989,44.262436,-72.580536,76,0.000122
46,WA,Washington,7614893,47.035805,-122.905014,832,0.000109
47,WI,Wisconsin,5822434,43.074684,-89.384445,1178,0.000202
48,WV,West Virginia,1792147,38.336246,-81.612328,271,0.000151
49,WY,Wyoming,578759,41.140259,-104.820236,98,0.000169

In [23]:
df5.to_csv('adoption_rate.csv')